body {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: #e6edef;
    color: #080b0d;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #779cab;
    color: white;
    position: sticky;
    top: 0;
    margin: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tasks-container {
    margin-bottom: 100px;
}

.task {
    display: grid;
    align-items: center;
    justify-content: stretch;
    justify-items: left;
    grid-template-columns: 15% auto;
    border-bottom: 1px black solid;
}

/* Checkbox */
.task input {
    width: 20px;
    height: 20px;
    justify-self: center;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
}

.task-details {
    position: absolute;
    /* Appear directly below header */
    top: 8vh;
    background-color: white;
    width: 100vw;
    /* Full screen minus header & footer */
    height: 84vh;
}

.task-form {
    display: grid;
    background-color: lightgoldenrodyellow;
    height: 50vh;
    width: 100vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20vh;
}

.hidden {
    display: none;
}

.form-item {
    text-align: left;
    margin: 0 20px;
    display: grid;
}

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: #779cab;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-form-btn {
    position: relative;
    bottom: 100%;
    border: none;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: #35524a;
    color: white;
}