:root {
    --proj-color: #73a9bf;
}

body {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: #F1F6F9;
    color: #080b0d;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: var(--proj-color);
    color: white;
    position: sticky;
    top: 0;
    margin: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    font-weight: 600;
}

#tasks-container {
    margin-bottom: 100px;
}

.task {
    display: grid;
    height: 8vh;
    align-items: center;
    justify-content: stretch;
    grid-template-columns: 15% auto;
    border-bottom: 1px black solid;
}

/* Checkbox */
.task input {
    width: 20px;
    height: 20px;
    justify-self: center;
    box-shadow: -1px 1px 5px var(--proj-color);
}

.task p {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.complete {
    opacity: 0.3;
    text-decoration: line-through;
}

.task-details {
    position: absolute;
    /* Appear directly below header */
    top: 8vh;
    background-color: #F1F6F9;
    width: 100vw;
    /* Full screen minus header & footer */
    height: 84vh;
}

.hidden {
    display: none;
}

form {
    display: grid;
    grid-template-rows: 80px auto;
    align-items: center;
    background-color: #B9D4DF;
    height: 50vh;
    width: 100vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 8vh;
}

.form-title {
    margin: 0;
    font-size: 26px;
}

.form-item {
    text-align: left;
    margin: 0 20px;
    display: grid;
    font-size: 20px;
}

input {
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

textarea {
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.submit-btn {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #40768c;
    color: white;
}

#projects-list {
    background-color: #F1F6F9;
    position: absolute;
    top: 8vh;
    height: 84vh;
    width: 100vw;
}

.project {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: var(--proj-color);
    height: 8vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.footer-btns {
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 -5px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Rubik', sans-serif;
}

#disp-form-btns-container button {
    width: 100%;
    height: 100%;
}