:root {
    --proj-color: #73a9bf;
}

body {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: #F1F6F9;
    color: #080b0d;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: var(--proj-color);
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100vw;
}

#tasks-container {
    /* height: 84vh; */
    overflow: auto;
    width: 100vw;
    position: absolute;
    top: 8vh;
    bottom: 8vh;
}

.task-card {
    display: grid;
    height: 8vh;
    align-items: center;
    justify-content: stretch;
    grid-template-columns: 15% auto;
    border-bottom: 1px solid #080b0d70;
    position: relative;
}

/* Checkbox */
.task-card .checkbox {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #080b0d50;
    border-radius: 4px;
    justify-self: center;
    box-shadow: -1px 1px 5px var(--proj-color);
}

.task-card .name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.task-card .date {
    font-size: 16px;
    position: absolute;
    top: 9px;
    right: 9px;
    opacity: 0.5;
}

.complete {
    opacity: 0.3;
    text-decoration: line-through;
}

.task-details {
    position: fixed;
    top: 8vh;
    bottom: 8vh;
    background-color: #F1F6F9;
    width: 100%;
    /* height: 84vh; */
    display: grid;
    grid-template-columns: 20% 30% 25% 25%;
    grid-template-rows: 15% 25% 40% 20%;
    grid-template-areas: "priority priority date date"
                         "box title title title"
                         "desc desc desc desc"
                         "back back delete edit";
    align-items: center;
    justify-items: center;
}

.task-details .priority {
    opacity: 0.5;
    font-size: 22px;
    grid-area: priority;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.priority-label {
    grid-column: 1 / 3;
    margin-bottom: 10px;
    justify-self: start;
}

.priority-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #080b0d50;
    border-radius: 50%;
    grid-row-start: 2;
}

.filled-circle {
    background-color: #080b0d;
}

.task-details .date {
    opacity: 0.5;
    font-size: 22px;
    grid-area: date;
    position: relative;
}

.task-details .date input {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 0;
}

.task-details .checkbox {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #080b0d50;
    border-radius: 8px;
    box-shadow: -1px 1px 5px var(--proj-color);
    grid-area: box;
}

.task-details .name {
    margin: 0;
    grid-area: title;
    justify-self: start;
}

.task-details .desc {
    border-top: 2px solid #080b0d20;
    border-bottom: 2px solid #080b0d20;
    text-align: left;
    margin: 0;
    padding: 15px;
    grid-area: desc;
    justify-self: stretch;
    align-self: stretch;
    box-shadow: inset 0 0 5px #080b0d20;
}

.task-details button {
    background-color: var(--proj-color);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin: 0 10px;
    color: white;
    box-shadow: 0 0 5px #080b0d80;
}

.details-back {
    grid-area: back;
    justify-self: start;
}

.details-edit {
    grid-area: edit;
    justify-self: end;
}

.edit-mode {
    animation: wiggle 1s infinite ease-in-out;
}

@keyframes wiggle {
    0% {
        margin-bottom: 0;
        filter: hue-rotate(200deg);
    }
    50% {
        margin-bottom: 10px;
        filter: hue-rotate(190deg);
    }
    100% {
        margin-bottom: 0;
        filter: hue-rotate(200deg);
    }
}

#details-delete {
    position: absolute;
    grid-area: delete;
    justify-self: end;
    background-color: #BF7384;
}

.hidden {
    display: none;
}

form {
    display: grid;
    grid-template-rows: 80px auto;
    align-items: center;
    background-color: #B9D4DF;
    height: 50vh;
    width: 100vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 8vh;
}

.form-title {
    margin: 0;
    font-size: 26px;
}

.form-item {
    text-align: left;
    margin: 0 20px;
    display: grid;
    font-size: 20px;
}

input {
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

textarea {
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.submit-btn {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #40768c;
    color: white;
}

#projects-list {
    background-color: #F1F6F9;
    position: absolute;
    top: 8vh;
    height: 84vh;
    width: 100vw;
    overflow: scroll;
}

.project {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.project-delete {
    position: absolute;
    left: 0;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    background-color: #F1F6F940;
    color: #080b0d60;
}

.project-delete:hover {
    background-color: #BF7384;
}

.project-name {
    height: 100%;
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: var(--proj-color);
    height: 8vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.footer-btns {
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 -5px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Rubik', sans-serif;
}

#disp-form-btns-container button {
    width: 100%;
    height: 100%;
}

@media(min-device-width: 500px) {
    #tasks-container {
        width: 70vw;
        margin-left: 30vw;
    }
    #projects-list {
        display: block;
        width: 30vw;
    }
    #switch-proj {
        display: none;
    }
    #disp-form-btns-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 30vw 70vw;
    }
    #disp-form-btns-container button {
        display: block;
    }
    .task-details {
        width: 70vw;
    }
    #project-form {
        width: 30vw;
    }
    #task-form {
        width: 30vw;
        margin-left: 70vw;
    }
}